@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .event-list {
    height: calc(100vh - 30vh);
  }
}

.temporary-bounce {
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}
